/* Write your CSS here */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
}
.bg-con {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-bg-con {
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 98%;
  min-height: 65%;
  border-radius: 12px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
input {
  height: 38px;
  width: 180px;
  border-radius: 6px;
  border: 1px solid #b5b7c4;
}
.appointment-starred-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.appointment-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}
.heading {
  font-size: 26px;
  margin-top: 30px;
  padding: 0;
  margin-bottom: 30px;
}
.star {
  background-color: transparent;
  color: #9796f0;
  border: 1px solid #9796f0;
  border-radius: 12px;
  height: 26px;
  width: 110px;
  margin-top: 20px;
}
.active {
  background-color: #9796f0;
  color: white;
  border: 0;
  border-radius: 12px;
  height: 26px;
  width: 110px;
  margin-top: 20px;
}
.add-button {
  background-color: #8b5cf6;
  color: white;
  border-radius: 5px;
  height: 30px;
  width: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
}
.appointments {
  font-size: 20px;
  font-weight: bold;
}
label {
  font-size: 12px;
  color: #b5b7c4;
  font-weight: 500;

  margin-bottom: 15px;
}
